
.menu-bar {
    -fx-background-color: #424241;
    -fx-border-color: orange orange transparent orange;
    -fx-border-width: 30%;
}

.menu .label {
    -fx-font-size: 12.0pt;
    -fx-text-fill: lightgray;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: #cd8500;
}

.context-menu {
    -fx-background-color: #424241;
    -fx-border-color: orange;
}

.context-menu .separator {
    -fx-background-color: orange;
    -fx-border-width: 30%;
}

.menu-item .label {
    -fx-font-size: 12.0pt;
    -fx-text-fill: lightgray;
}

.menu-item:focused {
    -fx-background-color: #cd8500;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #424241;
    -fx-border-color: transparent orange transparent orange;
    -fx-border-width: 30%;

}

.tab-pane .tab:hover, .tab-pane .tab:focused, .tab-pane .tab:showing {
    -fx-background-color: #cd8500;
}

.tab {
    -fx-background-color: #424241;
    -fx-border-color: orange;
    -fx-border-radius: 7px 7px 0px 0px;
    /*-fx-opacity: 1px;*/
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: lightgray;
}

.tab-content-area {
    -fx-background-color: #424241;
}

.tab-pane.floating *.tab {
    -fx-background-color: orange;
}

.tab-close-button {
    -fx-background-color: lightgray;
}

.tab-close-button:hover {
    -fx-background-color: orange;

    -fx-border-color: orange;
    -fx-border-radius: 50%;
}

