.circle {
    /*border-width: 3px;*/
    /*border-color: orange;*/
    /*background-color: lightgray;*/

    -fx-background-radius: 5em;
    -fx-min-width: 3px;
    -fx-min-height: 3px;
    -fx-max-width: 3px;
    -fx-max-height: 3px;
}

.circle .label {
    text-decoration-color: white;
    text-overline: true;
    text-overline-color: orange;
}