
.menu-bar {
    -fx-background-color: #424241;
    -fx-border-color: orange orange transparent orange;
    -fx-border-width: 30%;
}

.menu .label {
    -fx-font-size: 12.0pt;
    -fx-text-fill: lightgray;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: #cd8500;
}

.context-menu {
    -fx-background-color: #424241;
    -fx-border-color: orange;
}

.context-menu .separator {
    -fx-background-color: orange;
    -fx-border-width: 30%;
}

.menu-item .label {
    -fx-font-size: 12.0pt;
    -fx-text-fill: lightgray;
}

.menu-item:focused {
    -fx-background-color: #cd8500;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #424241;
    -fx-border-color: transparent orange transparent orange;
    -fx-border-width: 30%;

}

.tab-pane .tab:hover, .tab-pane .tab:focused, .tab-pane .tab:showing {
    -fx-background-color: #cd8500;
}

.tab {
    -fx-background-color: #424241;
    -fx-border-color: orange;
    -fx-border-radius: 7px 7px 0px 0px;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: lightgray;
}

.tab-content-area {
    -fx-background-color: #424241;
}

.tab-pane.floating *.tab {
    -fx-background-color: orange;
}

.tab-close-button {
    -fx-background-color: lightgray;
}

.tab-close-button:hover {
    -fx-background-color: orange;

    -fx-border-color: orange;
    -fx-border-radius: 50%;
}

/*split pane*/

.split-pane {
    -fx-background-color: #424241;
    -fx-padding: 0;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1; /* 0 3 0 3 */
    -fx-background-color: orange;

}

.split-pane *.horizontal-grabber {
    -fx-padding: 5 1 5 1;
    -fx-background-color: lightgray lightgray;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M0 0 L0 0 L2 0 L2 2 L0 2 Z M0 4 L0 4 L2 4 L2 6 L0 6 Z M0 8 L0 8 L2 8 L2 10 L0 10 Z";
}

/*scroll pane*/

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}


.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: orange;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: orange;
}


.scroll-bar:vertical .increment-arrow {
    -fx-background-color: orange;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: orange;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: orange;
    -fx-background-insets: 5 1 5;
    /*-fx-background-radius: 1em; !* makes sure this remains circular *!*/
}

.scroll-bar:vertical .thumb {
    -fx-background-color: orange;
    -fx-background-insets: 5 5 5;
}

.scroll-pane {
    -fx-fill: #424241;
    -fx-background-color: #424241;
    -fx-border-color: orange transparent transparent transparent;
    -fx-border-width: 1px;
}

.scroll-pane > * > .scroll-bar:horizontal {
    -fx-fill: transparent;
}

.scroll-pane > * > .scroll-bar:vertical {
    -fx-fill: transparent;
}


.draw-area {
    -fx-fill: #424241;
    -fx-background-color: #424241;
}

/*nodes*/
.circle {
    -fx-fill: lightgray;
    -fx-stroke: orange;
    -fx-stroke-width: 3px;
}
